html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

h2 {
    color: white;
}
