<!DOCTYPE html>
<html lang="en">

<head>
  <title>Phase 1</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="form-wrapper">
    <h2 class="title">Transaction Entry</h2>

    <form method="POST" action="{{ url_for('transaction') }}">
      {{ form.csrf_token }}

      <fieldset class="form-field">
        {{ form.name.label }}
        {{ form.name(size=20) }}
        {% if form.name.errors %}
        <ul class="errors">
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.amount_usd.label }}
        {{ form.amount_usd }}
        {% if form.amount_usd.errors %}
        <ul class="errors">
          {% for error in form.amount_usd.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.card.label }}
        {{ form.card}}
        {% if form.card.errors %}
        <ul class="errors">
          {% for error in form.card.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.category.label }}
        {{ form.category}}
        {% if form.category.errors %}
        <ul class="errors">
          {% for error in form.category.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>

      {{ form.submit }}
    </form>

  </div>
</body>

</html>